.container
    footer.py-3.my-4
        ul.nav.justify-content-center.border-bottom.pb-3.mb-3
            li.nav-item
                a.nav-link.px-2.text-muted(href='#home') Inicio
            li.nav-item
                a.nav-link.px-2.text-muted(href='#features') Funciones
            li.nav-item
                a.nav-link.px-2.text-muted(href='#faqs') FAQs
            li.nav-item
                a.nav-link.px-2.text-muted(href='https://www.plushyzeus.com') Sobre mí
        p.text-center.text-muted Made with &#128153; from Salamanca
