nav.py-2.bg-light.border-bottom.d-none.d-md-block
    .container.d-flex.flex-wrap
        ul.nav.me-auto
            li.nav-item
                a.nav-link.link-dark.px-2.active(href='#home' aria-current='page') Inicio
            li.nav-item
                a.nav-link.link-dark.px-2(href='#features') Funciones
            li.nav-item
                a.nav-link.link-dark.px-2(href='#faqs') FAQs
            li.nav-item
                a.nav-link.link-dark.px-2(href='https://www.plushyzeus.com') Sobre mí
        ul.nav
            li.nav-item
                a.nav-link.link-dark.px-2(href='/login') Login
            li.nav-item
                a.nav-link.link-dark.px-2(href='/register') Sign up
header.py-3.mb-4.border-bottom
    .container.d-flex.flex-wrap.justify-content-center
        a.d-flex.align-items-center.mb-3.mb-lg-0.me-lg-auto.text-dark.text-decoration-none(href='/')
            img.me-3(src="./static/img/logo.png", alt="Logo" width='45')
            span.fs-4 PlusLearn
