header.sticky-top
    .px-3.py-2.text-bg-dark
        .container
            .d-flex.flex-wrap.align-items-center.justify-content-start
                a.d-flex.align-items-center.justify-content-center.my-0.me-auto.text-white.text-decoration-none(href='/home')
                    img(src="/static/img/logo.png" width='32px' alt="")
                    span.ms-2.fw-bold(style="font-family: 'Nunito', sans-serif; font-size:28px;") PlusLearn
                ul.nav.col-auto.justify-content-center.my-0.text-small
                    li
script(src="/static/js/navigations.js") 