//- includes/offcanvasSignUp.pug
#offcanvasSignin.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasWithBackdropLabel')
  .offcanvas-header
    h5#offcanvasWithBackdropLabel.offcanvas-title.strong Sign Up user
    button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
  .offcanvas-body
    form
      .mb-3
        label.form-label(for='validationCustomUsername') Username
        .input-group.has-validation
          span#inputGroupPrepend.input-group-text @
          input#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' required='')
          .invalid-feedback
            | Please choose a username.
      .mb-3
        label.form-label(for='inputSignUpinputEmail') Email address
        input#inputSignUpinputEmail.form-control(type='email')
      .mb-3
        label.form-label(for='inputSignUpPassword') Password
        input#inputSignUpPassword.form-control(type='password')
      .mb-3
        label.form-label(for='inputSignUpPasswordRepeat') Repeat password
        input#inputSignUpPasswordRepeat.form-control(type='password')
      .mb-3
        label.form-label(for='userTypeSelect') User type
        select#userTypeSelect.form-select
          option Student
          option Teacher
      button.btn.btn-primary(type='submit') Sign Up
