doctype html
html(lang="es")
    head
        include ./includes/head.pug
        include ./includes/bootstrap.pug
        include ./includes/fonts.pug
        link(rel="stylesheet", href="/static/css/stats.css")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js' integrity='sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA==' crossorigin='anonymous' referrerpolicy='no-referrer')
        
    body 
        include ./includes/light_app_nav.pug

        //#mainContainer.container.p-5
        .container.mt-4
            .rounded.bg-secondary.pt-5.px-5.pb-2.mb-2.text-white
                h2#testTitle 
                p#testDescription 
                span 
                    strong Creado: 
                    span#createdTimestamp 
                br
                span 
                    strong Última edición: 
                    span#updatedTimestamp 
                br
                span 
                    strong Código: 
                    span#interactiveCode 
            .rounded.bg-primary-subtle.pt-3.px-5.pb-5.mb-2
                .d-flex.justify-content-between.flex-column.flex-md-row
                    h4.ubuntuFont Estadisticas de preguntas
                    .buttons.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center
                        a#showResponsesButton.btn.btn-primary(href='#') Ver respuestas
                        a#modifyTestButton.btn.btn-warning(href='#') Modificar test
                #generalStadistics.row 
                    #loading1.loadingContainer.col-12.d-flex.justify-content-center.align-items-center
                        #loadingAnimation
                    #questionsList.mt-3 
                        


                    
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        include ./includes/jquery.pug
        script(src="/static/js/qstats.js") 
