doctype html
html(lang="es")
    head
        include ./includes/head.pug
        include ./includes/bootstrap.pug
        include ./includes/fonts.pug
        link(rel="stylesheet", href="/static/css/editTest.css")
        //script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js' integrity='sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA==' crossorigin='anonymous' referrerpolicy='no-referrer')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js' integrity='sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    body 
        include ./includes/light_app_nav.pug
        #offcanvas.offcanvas.offcanvas-end.text-bg-dark(tabindex='-1' aria-labelledby='offcanvasLabel')
            .offcanvas-header
                h5#offcanvasLabel.offcanvas-title Listado
                button.btn-close.btn-close-white(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
            .offcanvas-body
                #actionButtons.d-grid.gap-2 
                    button.btn.btn-warning(data-bs-toggle="modal" data-bs-target="#confTestModal")
                        svg.bi.bi-gear-fill.me-2(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z')
                        | Configuración
                    #actionSecondaryButtons.d-flex.gap-2
                        button.btn.btn-primary(onclick='newQuestion();')
                            svg.bi.bi-plus-circle-fill.me-2(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z')
                            | Nueva pregunta
                        button.btn.btn-success(onclick="saveDataServer();")
                            svg.bi.bi-save-fill.me-2(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z')
                            | Guardar
                #questionOrder
        #confTestModal.modal.fade(tabindex='-1' aria-labelledby='addTestLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered
                form.modal-content(action='/test' method='POST')
                    .modal-header
                        h1#addTestLabel.modal-title.fs-5 Nuevo test
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .mb-3 
                            label.form-label(for="testTitleInput") Título de test 
                            input#testTitleInput.form-control(type="text" name="title" required oninput="testTitleOnChange();")
                        .mb-3
                            label.form-label(for='testDescriptionInput') Descripci&oacute;n
                            textarea#testDescriptionInput.form-control(style='height: 100px' name="description" oninput="testDescriptionOnChange();") 
                        .mb-3 
                            input#isActiveTestCheckbox.form-check-input.me-2(type="checkbox" value="" oninput="testActiveOnChange();")
                            label.form-check-label(for="isActiveTestCheckbox") Activo
                        .mb-3
                            label.form-label Código
                            input#interactiveCodeInput.form-control(type="text" disabled) 
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='button' onclick='saveDataServer();') Guardar
        div#main.container-fluid.m-0.p-0
            .container
                #questionContainer.pt-4
                    #alertContainer
                    button.btn.btn-primary.mb-3.ms-auto(data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas") Lista de preguntas
                    #questionInfoContainer
                        #animationContainer
                            #loadingAnimation
                            //h3.text-white.mb-3 ¡No hay ninguna pregunta!
                            //button#noQuestionButton.btn.btn-primary(onclick='newQuestion();')
                                | Nueva pregunta 
                                svg.bi.bi-plus-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z')
                            
                        //.inputbox.mb-3
                            input(required='required' type='text' value='Esto es un ejemplo de pregunta, deberías editarlo!')
                            span Pregunta
                            i
                        //.inputbox.correctInput.mb-3
                            input(required='required' type='text' value='Esto es un ejemplo de pregunta, deberías editarlo!')
                            span Respuesta correcta
                            i
                        //.inputbox.incorrectInput.mb-3
                            input(required='required' type='text' value='Esto es un ejemplo de pregunta, deberías editarlo!')
                            span Respuesta incorrecta
                            i
                        //.inputbox.incorrectInput.mb-3
                            input(required='required' type='text' value='Esto es un ejemplo de pregunta, deberías editarlo!')
                            span Respuesta incorrecta
                            i
                        //span.badge.rounded-pill.text-bg-info 5
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        include ./includes/jquery.pug
        script(src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
        script(src="/static/js/editTest.js")