doctype html
html(lang="es")
    head
        include ./includes/head.pug
        include ./includes/bootstrap.pug
        include ./includes/fonts.pug
        link(rel="stylesheet", href="/static/css/home.css")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js' integrity='sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA==' crossorigin='anonymous' referrerpolicy='no-referrer')
        
    body 
        include ./includes/light_app_nav.pug
        #addTestModal.modal.fade(tabindex='-1' aria-labelledby='addTestLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered
                form.modal-content(action='/test' method='POST')
                    .modal-header
                        h1#addTestLabel.modal-title.fs-5 Nuevo test
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .mb-3 
                            label.form-label(for="testTitleInput") Título de test 
                            input#testTitleInput.form-control(type="text" name="title" required)
                        .mb-3
                            label.form-label(for='testDescriptionInput') Descripci&oacute;n
                            textarea#testDescriptionInput.form-control(style='height: 100px' name="description")  
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='submit') Crear test

        #mainContainer.container.p-5 
            #hello.container
                h2.ubuntuFont
                    span &#128400;
                    span Hola Plushy!
            .separator
            #testContainer.container.mt-4
                h2.ubuntuFont Tus cuestionarios
                #loadingContainer.d-flex.flex-column.justify-content-center.align-items-center 
                    #loadingAnimation 
                    h2.ubuntuFont Cargando datos...
                // Test card list
                #cardListContainer.row
                    //.col-12.col-md-6.pb-3
                        .card.h-100
                            .card-body
                                .test-info
                                    h5.card-title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, eum repellendus sed quam ipsam corporis!
                                    p.card-text With supporting text below as a natural lead-in to additional content.
                                a.btn.btn-primary(href='#') Configurar
                            .card-footer.text-body-secondary.text-center 2 days ago
                    
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        include ./includes/jquery.pug
        script(src="/static/js/home.js") 
