doctype html
html(lang="en")
    head
        include ./includes/head.pug
        include ./includes/bootstrap.pug
        link(rel="stylesheet", href="/static/css/login.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Nunito&display=swap' rel='stylesheet')
    body 
        include ./includes/flashMessages.pug
        #test4
            .test4card
                form(method='POST' action='/auth/login')
                    .cardHeader
                        img(src='/static/img/logo.png' width='70px' alt='')
                        h5.text-white.pt-3 Acceso
                    .cardBody.mt-4
                        .form-floating.mb-3
                            input#floatingInput.form-control(name='username' type='text' placeholder='nombre')
                            label(for='floatingInput') Nombre de usuario
                        .form-floating
                            input#floatingPassword.form-control(name='password' type='password' placeholder='Password')
                            label(for='floatingPassword') Contrase&ntilde;a
                    .cardFooter.mt-3
                        .d-grid.gap-2
                            button.btn.btn-primary(type='submit') Acceder
                            a.btn.btn-outline-secondary(href='/register') Registro
                            a.link-info.text-center(href='/reset') Recuperar la contraseña


                        
