doctype html
html(lang="en")
    head
        include ./includes/head.pug
        include ./includes/bootstrap.pug
        link(rel="stylesheet", href="/static/css/login.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Nunito&display=swap' rel='stylesheet')
        script.  
            const errorMessages = !{JSON.stringify(messages)};
            const successMessages = !{JSON.stringify(successes)};
    body 
        include ./includes/flashMessages.pug
        .bg-body-secondary.position-relative.bd-example-toasts.rounded-3(aria-live='polite' aria-atomic='true')
            #toastPlacement.toast-container.p-3.top-0.start-50.translate-middle-x
                #toastSuccess.toast.align-items-center.text-bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                    .d-flex
                        #successToastBody.toast-body
                        button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
                #toastError.toast.align-items-center.text-bg-danger.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                    .d-flex
                        #errorToastBody.toast-body
                        button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')

        #test4
            .test4card
                form(method='POST' action='/auth/login')
                    .cardHeader
                        img(src='/static/img/logo.png' width='70px' alt='')
                        h5.text-white.pt-3 Acceso
                    .cardBody.mt-4
                        .form-floating.mb-3
                            input#floatingInput.form-control(name='username' type='text' placeholder='nombre' required)
                            label(for='floatingInput') Nombre de usuario
                        .form-floating
                            input#floatingPassword.form-control(name='password' type='password' placeholder='Password' required)
                            label(for='floatingPassword') Contrase&ntilde;a
                    .cardFooter.mt-3
                        .d-grid.gap-2
                            button.btn.btn-primary(type='submit') Acceder
                            a.btn.btn-outline-secondary(href='/register') Registro
                            a.link-info.text-center(href='/reset') Recuperar la contraseña
        script(src='/static/js/login.js')


                        
