doctype html
html(lang="en")
    head
        include ./includes/head.pug
        include ./includes/bootstrap.pug
        include ./includes/fonts.pug
        link(rel="stylesheet", href="/static/css/test2.css")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js' integrity='sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA==' crossorigin='anonymous' referrerpolicy='no-referrer')
        script(src='https://cdn.socket.io/4.5.4/socket.io.min.js')
    body 
        include ./includes/app_nav.pug
        #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h1#staticBackdropLabel.modal-title.fs-5 Modal title
                        //button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .form-floating.mb-3
                            input#guestNameInput.form-control(type='text' placeholder='Nombre')
                            label(for='guestNameInput') Nombre
                    .modal-footer
                        //button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                        button.btn.btn-primary(type='button' onclick='setGuestUser();') Acceder
        .mainContainer
            .container.rounded.participantContainer.mt-5.p-5 
                h3 Master
                .ownerContainer 
                    ul#masterList.list-group
                        //li.list-group-item Plushy
                h3 Participantes
                .studentContainer
                    ul#userList.list-group
                        //li.list-group-item Plushy
            //.loaderContainer
                #loadingAnimation
                h2.text-center Cargando...
        include ./includes/jquery.pug
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/static/js/test.js") 
        //CDF0EA F9F9F9 F6C6EA FAF4B7