
#mainDiv{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: auto;
    /* https://coolbackgrounds.io/ */
    
    background-image: url('/static/assets/images/background/white-wall.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}


.foot{
    background: rgba(255, 255, 255, 0.75);
}

#offcanvasLogin, #offcanvasSignin{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(21px);
}
