html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.table-empty{
    background-color: rgb(102, 204, 255);
}

#mainContainer{
    background-color: #2b2b2b;
}

#mainStat2Container, #questionStatContainer, #loadingAnimation, #loadingAnimation2{
    width: 300px;
    height: 200px;
}

.statTitle{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.statResult{
    font-size: 6em;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}

.ubuntuFont{
    font-family: 'Ubuntu', sans-serif;
}

#questionCorrectAnswerChartContainer{
    height: 350px;
}

.questOrder{
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}

#questionChartContainer{
    height: 250px;
}

.question{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.questChart{
    width: 300px;
    height: 200px;
}

.questTable{
    width: 100%;
}

#noDataAnimation{
    width: 220px;
}

@media screen and (max-width: 520px) {
    #questionCorrectAnswerChartContainer{
        height: 150px;
    }
}