
#main{
    
    overflow: hidden;
    display: flex;
}

#dataField{
    background-color: rebeccapurple;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;

    background-image: url('/static/assets/images/background/white-wall.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.imgLarge{
    width: 28px;
    height: 28px;
}

#sidebar{
    margin-top: 50px;
}

.card{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hidesidebar{
    max-width: 50px;
    overflow: hidden;
}

.hidesideoptions{
    display: none;
}

@media (max-width: 600px) {
    #quizzes h3{
        text-align: center;
    }
}